@charset "UTF-8";

/* estilo para imprimir */
*{
    padding: 10px;
    margin: 10px;
}
html{
    font-family:  'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: 'Este artigo foi escrito em 16/8/2022 por aristoteles e retirado do site: www.clonacartao.br';
}