@charset "UTf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #0e0a0f;
}
h1{
    background-color: #2F2235;
    color: white;
    height: 15vh;
    text-align: center;
    padding-top: 5vh;
}